# Ignore the following files
# --------------------------
# Unity3D specific
#
**/Library/*
**/Temp/*
**/*.csproj
**/*.unityproj
**/*.sln
**/*.userprefs
**/*.pidb

# Visual studo specific

**/.vs/*

# include meta files
!*.*.meta
UnityFiles/Assets/Scripts/MonoBehaviours.meta
UnityFiles/Assets/Scripts/PureClasses.meta
UnityFiles/Assets/Scripts/ScriptableObjects.meta
UnityFiles/Assets/Textures.meta
